---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Victor Hall">
  <h2 class="text-3xl font-semibold tracking-tight mb-6">About</h2>
  <p class="text-center leading-7 my-5">
    I'm an experienced and driven technology professional with a proven track
    record in cutting-edge full-stack technologies. Adept at spearheading modern
    React development, optimising both developer and user experiences. Eager and
    adaptable learner, always seeking to master new technologies and leverage
    them to drive innovation.
  </p>

  <h4 class="text-xl font-semibold tracking-tight mb-6">Skills / Technologies</h4>
  <div class="grid grid-cols-2">
    <!-- Left -->
    <div class="flex flex-col gap-4">
      <!-- FE tech -->
      <div>
        <strong>Front End / Full Stack</strong>
        <ul class="ml-6 list-disc">
          <!-- JS -->
          <li>JavaScript</li>
          <ul class="ml-4 list-disc">
            <li>TypeScript</li>
            <li>React</li>
            <li>NextJS</li>
            <li>Remix</li>
            <li>Vite</li>
            <li>React Testing Library</li>
            <li>Jest</li>
          </ul>
          <!-- CSS -->
          <li>CSS</li>
          <li>SCSS</li>
        </ul>
      </div>

      <!-- BE tech -->
      <div>
        <strong>Back End</strong>
        <ul class="ml-6 list-disc">
          <!-- Node -->
          <li>Node</li>
          <ul class="ml-4 list-disc">
            <li>Express</li>
            <li>Apollo</li>
            <li>RSpec</li>
          </ul>
          <!-- Ruby -->
          <li>Ruby</li>
          <ul class="ml-4 list-disc">
            <li>Rails</li>
            <li>Bundler</li>
            <li>RSpec</li>
          </ul>
          <!-- PHP -->
          <li>PHP</li>
          <ul class="ml-4 list-disc">
            <li>Laravel</li>
            <li>Composer</li>
            <li>PHPUnit</li>
          </ul>
          <!-- Go -->
          <li>Golang</li>
          <!-- Misc -->
          <li>GraphQL</li>
        </ul>
      </div>
    </div>

    <!-- Right -->
    <div class="flex flex-col gap-4">
      <!-- CI -->
      <div>
        <strong>Database</strong>
        <ul class="ml-6 list-disc">
          <li>SQL/MySQL</li>
          <li>PostgreSQL</li>
          <li>NoSQL/Mongo</li>
          <li>Redis</li>
        </ul>
      </div>

      <!-- CI -->
      <div>
        <strong>CI/CD</strong>
        <ul class="ml-6 list-disc">
          <li>Github Actions</li>
          <li>AWS CodeDeploy</li>
          <li>Heroku</li>
        </ul>
      </div>

      <!-- Testing -->
      <div>
        <strong>E2E Testing</strong>
        <ul class="ml-6 list-disc">
          <li>Cypress</li>
          <li>Playwright</li>
        </ul>
      </div>

      <!-- Cloud -->
      <div>
        <strong>Cloud</strong>
        <ul class="ml-6 list-disc">
          <li>AWS</li>
          <li>GCP</li>
        </ul>
      </div>

      <!-- Design -->
      <div>
        <strong>Design Tools</strong>
        <ul class="ml-6 list-disc">
          <li>Figma</li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
