---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Victor Hall">
  <h2 class="text-3xl font-semibold tracking-tight mb-6">About</h2>
  <p class="text-center">Work in Progress</p>
</Layout>
