---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Victor Hall">
  <h2 class="text-center text-3xl font-semibold tracking-tight mt-6">
    Hey, I'm Victor 👨‍💻
  </h2>
  <p class="text-center leading-7 mt-5">
    I'm a software enginer working for
    <Link href="https://www.trilbytv.co.uk/" referrerpolicy="no-referrer">
      Trilby
    </Link>
    as a frontend developer helping them scale their content catalogue. Previously,
    I also worked at
    <Link href="https://ao.com/" referrerpolicy="no-referrer"> AO </Link>
    and
    <Link href="https://woventeams.com" referrerpolicy="no-referrer">
      Woven
    </Link>.
  </p>
</Layout>
