---
// build-time fallback (if javascript isn't available on client)
const year = new Date().getFullYear();
---

<footer class="bg-slate-100 py-6 mt-6">
  <div class="flex gap-2 justify-center">
    <a
      href="https://linkedin.com/in/vhall1"
      referrerpolicy="no-referrer"
      class="underline">LinkedIn</a
    >
    <a
      href="https://github.com/vhall1"
      referrerpolicy="no-referrer"
      class="underline">Github</a
    >
  </div>
  <p class="mt-2 text-center text-sm">
    &copy; <span id="footer-year">{year}</span> Victor Hall
  </p>
</footer>
<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
