<header
  class="container mx-auto px-4 h-14 flex flex-col lg:flex-row lg:justify-between lg:items-center"
>
  <a href="/">
    <h1 class="text-2xl font-semibold">Victor Hall</h1>
  </a>
  <div class="flex gap-4">
    <a href="/about" class="underline">About</a>
    <a href="/projects" class="underline">Projects</a>
  </div>
</header>
