---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Hey, I'm Victor. I'm a Full Stack Developer and a React enthusiast"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://res.cloudinary.com/davlbxibi/image/upload/v1716409614/remix-portfolio/byw1g36xmmfgv1di8m5h.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="container max-w-screen-md mx-auto px-4 pt-14 pb-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  body {
    @apply font-sans antialiased;
  }
</style>
